<center>

    <div class="jumbotron">
<div class='container' id='TopStreams'>
  <p style="text-decoration: underline">Streams live now</p>
  <table class='table table-bordered' id='TopStreamsTable'>

    <tr>
      <th>Streamer</th>
      <th>Game</th>
      <th>Viewers</th>
    </tr>

    <% @liveStreams.each do |stream| %>
    <tr>
      <% @suser = User.find_by_name(stream["channel"]["display_name"]) %>
      <% if @suser %>
      <td><a href=" <%= user_path(@suser) %>"><%= @suser.name %></a></td>
      <% else %>
      <td><a href=" <%= stream['channel']['url'] %> " target="_blank"> <%= stream["channel"]["display_name"] %></a></td>
      <% end %>
      <td><%= stream["game"] %> </td>
      <td><%= stream["viewers"] %> </td>
    </tr>
    <% end %>
  </table>
</div>
</div>
<br>
<% if @scheduledStreams %>
<div class="jumbotron">
<div class='container' id='NextStreams'>
  <p style="text-decoration: underline">Upcoming streams</p>
  <table id='NextStreamsTable'>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>Streamer</th>
      <th>Title</th>
      <th>Game</th>
      <th>Full description</th>
    </tr>

    <% @scheduledStreams.each do |stream| %>
    <tr>
      <td><%= stream.starttime.strftime("%b %d, %I:%M %p") %></td>
      <td><%= stream.endtime.strftime("%b %d, %I:%M %p") %></td>
      <td><a href=" <%= user_path(stream.user) %>"><%= stream.user.name %></a></td>
      <td><%= stream.title %></td>
      <td><%= stream.game %></td>
      <td><%= link_to "More...", user_stream_path(stream.user, stream) %></td>
    </tr>
    <% end %>
  </table>
</div>
</div>
<% end %>
</center>
