<center>
<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="..." alt="...">
    </a>
  </div>
  <div class="media-body">
    <h2 class="media-heading"><%= @user.name %></h2>
    Customizable description body?
  </div>
</div>
</center>
    
<% if !@userStream["stream"]%>
  <p><a href="http://www.twitch.tv/<%= @user.name %> " target = "_blank">Twitch stream (offline)</a></p>
<% else %>
  <iframe height="378" width="620" frameborder="0" scrolling="no" src="http://www.twitch.tv/<%= @user.name %>/embed"></iframe>
<% end %>

<script type="text/javascript">
    var frames;
    
    $(document).ready(function () {
        frames = ["List", "Calendar", "Following", "Followers", "Settings"];
        for(j = 0; j < frames.length; j++){
            $("#"+frames[j]).hide();
        }
        $("#"+frames[0]).show();
    });
    
    function swapFrame(butan,frm) {
        for(j = 0; j < frames.length; j++){
            $("#"+frames[j]).hide();
            $("#b"+j).attr("class", "btn btn-primary inactive");
        }
        for(i = 0; i < frames.length; i++){
            if(i == frm){
                $("#"+frames[i]).show();
                $("#b"+i).attr("class", "btn btn-primary active");
            }
        }
    }
</script>

<div class='jumbotron'>
    <div class="container-fluid">
    <div class="col-md-1" id='midJumbo'>
        <br>
        <br>
        <div class="btn-group-vertical" width="100%" role="group">
            <button id="b0" class="btn btn-primary active" onclick="swapFrame(this, 0)">List</button>
            <button id="b1" class="btn btn-primary inactive" onclick="swapFrame(this, 1)">Calendar</button>
            <button id="b2" class="btn btn-primary inactive" onclick="swapFrame(this, 2)">Following</button>
            <button id="b3" class="btn btn-primary inactive" onclick="swapFrame(this, 3)">Followers</button>
            <button id="b4" class="btn btn-primary inactive" onclick="swapFrame(this, 4)">Settings</button>
        </div>
        
    </div>
        <div class="col-md-1" id='midJumbo'></div>
        <center>
    <div class="col-md-8" id='midJumbo'>
        
        <div id="List">
<div id='UserStreams'>
  <p style="text-decoration: underline">Your Scheduled Streams</p>
    
  <table class='table table-bordered' id='UserStreamsTable'>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>Title</th>
      <th>Game</th>
      <th>Description</th>
    </tr>
    
    <% @streams.each do |stream| %>

    <tr>
      <td><%= stream.starttime.strftime("%b %d, %I:%M %p") %></td>
      <td><%= stream.endtime.strftime("%b %d, %I:%M %p") %></td>
      <td><%= stream.title %></td>
      <td><%= stream.game %></td>
      <td><%= link_to "More...", user_stream_path(stream.user, stream) %></td>
    </tr>
    <% end %>
  </table>
</div>
    </div>
        
        <div id="Calendar">
            <p style="text-decoration: underline">Your Scheduled Streams</p>
        </div>
        
        <div id="Following">
            <p style="text-decoration: underline">Following</p>
              <table class='table table-striped' id='UserStreamsTable'>
                <tr>
                  <th>Icon</th>
                  <th>Follower</th>
                  <th>Follow</th>
                  <th>Delete</th>
                </tr>
    
                <% @user.follows.each do |channel| %>

                <tr>
                  <td>icon</td>
                  <td><%= channel["channel"]["display_name"] %></td>
                  <td>follow button</td>
                  <td>delete button</td>
                </tr>
                <% end %>
              </table>
        </div>
        
        <div id="Followers">
            <p style="text-decoration: underline">Followers</p>
            <table class='table table-striped' id='UserStreamsTable'>
                <tr>
                  <th>Icon</th>
                  <th>Following</th>
                  <th>Delete</th>
                </tr>
    
                <% @user.follows.each do |channel| %>

                <tr>
                  <td>icon</td>
                  <td><%= channel["channel"]["display_name"] %></td>
                  <td>unsub</td>
                </tr>
                <% end %>
              </table>
        </div>
        
        <div id="Settings">
            <p style="text-decoration: underline">Settings</p>
        </div>
        
        </div>
            <div class="col-md-2" id='midJumbo'></div>
    </div>
</div>
    </center>
<br><br>
<% if @user.name == session[:name] %>
<%= link_to "New scheduled stream", new_user_stream_path(@user) %>
<% end %>
