<h3>Edit Scheduled Stream</h3>

<form role="form">
  <div class="form-group">
    <label for="strmtitle">Stream Title</label>
    <input type="text" id="strmstitle" name="strmtitle" class="form-control" />
  </div>
  <div class="form-group">
    <label for="game">Game</label>
    <input type="text" id="game" name="game" class="form-control" />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" id="description" name="description" class="form-control" />
  </div>
  <div class='input-group date' id='datetimepicker1'>
      <label for="dttext">Date/Time</label>
      <input type='text' id='dttext' class="form-control" />
        <span class="input-group-addon"><span id="dt" name ="dt" class="glyphicon glyphicon-calendar"></span>
        </span>
  </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>

  <input type="submit" value="Save Changes" />
  <input type="button" value="Cancel" />
</form>

<%= form_for :stream, url: user_stream_path(@user, @stream), method: :patch do |f| %>


<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :game %><br>
  <%= f.text_field :game %>
</p>

<p>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</p>

<p>
  <%= f.label "Start time" %><br>
  <!--
  <div class="container">
  <div class="row">
  <div class='col-sm-6'>
  <div class="form-group">
  <div class='input-group date' id='stream_start' name="stream[start]">
  <input type='text' class="form-control" />
  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
</div>
</div>
</div>
<script type="text/javascript">
$(function () {
$('#stream_start').datetimepicker();
});
</script>
</div>
</div>
-->
<%= f.datetime_select :start %>
</p>


<p>
  <%= f.submit %>
</p>

<% end %>
<%= link_to 'Back', url_for(@user) %>
