<h3><%= @game.name %></h3>

<div id='NextStreams'>
  <p style="text-decoration: underline">Upcoming streams</p>
  <table id='NextStreamsTable'>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>Streamer</th>
      <th>Title</th>
      <th>Game</th>
      <th>Full description</th>
    </tr>

    <% @streams.each do |stream| %>
    <tr>
      <td><%= stream.starttime.strftime("%b %d, %I:%M %p") %></td>
      <td><%= stream.endtime.strftime("%b %d, %I:%M %p") %></td>
      <td><a href=" <%= user_path(stream.user) %>"><%= stream.user.name %></a></td>
      <td><%= stream.title %></td>
      <td><%= stream.game %></td>
      <td><%= link_to "More...", user_stream_path(stream.user, stream) %></td>
    </tr>
    <% end %>
  </table>
</div>
